body {
    font-family: "Lato", sans-serif;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #a9b906;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.scnd-img-box {
    font-size: 71px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #fff; 
}
.toggle-arrow{
    float: right;
    padding-right: 15px;
    padding-top: 7px;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.toggle-btn{
    font-size:25px;
    cursor:pointer;
    background-color: #a9b906;
    padding: 0px 10px;
    color: #fff;
    position: absolute;
    top:50px;
    left: 0;
    z-index: 9;
}
/*======================================
      testimonial-section
======================================*/
/*.testimonial-section{
   padding: 70px 0px;
   position: relative;  
}
.testimonial-section:before{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   content: "";
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 0;
}*/
.testimonial-wrap{
   position: relative;z-index: 5;
}
.testimonial-section .testimonial-content-wrp{
    /*background: url(../images/banner-images.jpg) no-repeat;*/
    background-size: cover;
    widows: 100%;
    height: 100%;
    position: relative;
}
/*.testimonial-img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}*/
.testimonial-profile-img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   overflow: hidden;
   margin: 0 auto;
}
.testimonial-content{
   max-width: 70%;
   margin: 0 auto;
   color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   text-align: center;
   margin-top: 125px;
}
.testimonial-dis{
   margin: 40px 0px;
}
.testimonial-dis p{
   margin: 0;
   line-height: 22px;
   font-style: italic;
}
.tml-auther-name{
   text-transform: uppercase;
   font-weight: 600;
   line-height: 15px
}
.tml-auther-profile{
   text-transform: capitalize;
}
.testimonial-wrap{
   position: relative;
}
.testimonial-wrap .owl-nav .owl-prev, .testimonial-wrap .owl-nav .owl-next {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    z-index: 10;
    background: rgba(0,0,0, 0.5);
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 18px 24px;
    color: #b3aeae;
}
.testimonial-wrap .owl-nav  .owl-prev{
   left: 50px;
}
.testimonial-wrap .owl-nav  .owl-next{
   right: 50px;
}
.testimonial-wrap .owl-nav .owl-prev:hover, .testimonial-wrap .owl-nav .owl-next:hover{
   background: rgba(0,0,0, 0.5);
   color: #6FB426; 
}
.testimonial-wrap .owl-nav .owl-prev:hover i, .testimonial-wrap .owl-nav .owl-next:hover i{
   color: #6FB426; 
}

.secnd-section{
    padding: 50px 20px;
    position: relative;
    margin-top: -175px;
    z-index: 99;
}
.secnd-items{
    padding: 20px;
    background-color: #f94949;
    color: #fff;
    width: 25%;
    float: left;
}
.secnd-items h3{
    font-size: 30px;
    line-height: 35px;
    margin-top: 10px;
}
.secnd-items-two{
    background-color: #d3d607;
}
.secnd-items-three{
    background-color: #597bdc;
}

.secnd-items-four{
    background-color: #778798;
}
.banner-heading{
    color: #a9b906;
    font-size: 25px;
}
.banner-subheading{
    color: #fff;
    font-size: 25px;
    max-width: 600px;
    margin: 0 auto;   
}
